<% content_for :styles do %>
  <%= stylesheet_pack_tag 'vendor/libs/bootstrap-datepicker/bootstrap-datepicker', media: 'all' %>
  <%= stylesheet_pack_tag 'vendor/libs/bootstrap-table/bootstrap-table', media: 'all' %>
<% end %>

<% content_for :scripts do %>
  <!-- Dependencies -->
  <%= javascript_pack_tag 'vendor/libs/tableexport/tableexport' %>
  <%= javascript_pack_tag 'vendor/libs/moment/moment' %>
  <%= javascript_pack_tag 'vendor/libs/bootstrap-datepicker/bootstrap-datepicker' %>
  
  <%= javascript_pack_tag 'vendor/libs/bootstrap-table/bootstrap-table' %>
  <%= javascript_pack_tag 'vendor/libs/bootstrap-table/extensions/export/export' %>
  
  <%= javascript_pack_tag 'tables_bootstrap-table' %>
<% end %>

<!--
=================================================================
**************************** CONTENT ****************************
-->

<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">Tables /</span> Bootstrap tablell
</h4>

<div id="bootstrap-table-toolbar">
  <button id="bootstrap-table-remove" class="btn btn-danger" disabled>
    <i class="ion ion-md-close"></i> Delete
  </button>
</div>

<table id="bootstrap-table-example" data-toolbar="#bootstrap-table-toolbar" data-search="true" data-show-refresh="true" data-show-columns="true" data-show-export="true" data-detail-view="true" data-minimum-count-columns="2" data-show-pagination-switch="true" data-pagination="true" data-id-field="id" data-show-footer="true" data-url="/json/bootstrap-table-data.json">
</table>
